<ion-header>
  <ion-navbar>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-navbar>
</ion-header>

<!--TODO: Date, group members-->
<ion-content>
  <ion-list>
    <ion-item>
      <!--<ion-thumbnail item-start>
        <img src="img/thumbnail-totoro.png">
      </ion-thumbnail>-->
      <h2>My Neighbor Totoro</h2>
      <p>Hayao Miyazaki • 1988</p>
      <button ion-button clear item-end>View</button>
    </ion-item>
    <ion-item>
      <!--<ion-thumbnail item-start>
        <img src="img/thumbnail-totoro.png">
      </ion-thumbnail>-->
      <h2>My Neighbor Totoro</h2>
      <p>Hayao Miyazaki • 1988</p>
      <button ion-button clear item-end>View</button>
    </ion-item>
    <ion-item>
      <!--<ion-thumbnail item-start>
        <img src="img/thumbnail-totoro.png">
      </ion-thumbnail>-->
      <h2>My Neighbor Totoro</h2>
      <p>Hayao Miyazaki • 1988</p>
      <button ion-button clear item-end>View</button>
    </ion-item>
    <ion-item>
      <!--<ion-thumbnail item-start>
        <img src="img/thumbnail-totoro.png">
      </ion-thumbnail>-->
      <h2>My Neighbor Totoro</h2>
      <p>Hayao Miyazaki • 1988</p>
      <button ion-button clear item-end>View</button>
    </ion-item>
    <ion-item>
      <!--<ion-thumbnail item-start>
        <img src="img/thumbnail-totoro.png">
      </ion-thumbnail>-->
      <h2>My Neighbor Totoro</h2>
      <p>Hayao Miyazaki • 1988</p>
      <button ion-button clear item-end>View</button>
    </ion-item>
    <ion-item>
      <!--<ion-thumbnail item-start>
        <img src="img/thumbnail-totoro.png">
      </ion-thumbnail>-->
      <h2>My Neighbor Totoro</h2>
      <p>Hayao Miyazaki • 1988</p>
      <button ion-button clear item-end>View</button>
    </ion-item>
    <ion-item>
      <!--<ion-thumbnail item-start>
        <img src="img/thumbnail-totoro.png">
      </ion-thumbnail>-->
      <h2>My Neighbor Totoro</h2>
      <p>Hayao Miyazaki • 1988</p>
      <button ion-button clear item-end>View</button>
    </ion-item>
    <ion-item>
      <!--<ion-thumbnail item-start>
        <img src="img/thumbnail-totoro.png">
      </ion-thumbnail>-->
      <h2>My Neighbor Totoro</h2>
      <p>Hayao Miyazaki • 1988</p>
      <button ion-button clear item-end>View</button>
    </ion-item>
  </ion-list>
</ion-content>
