<ion-header>
  <ion-navbar>
    <ion-title>Add Spending</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item>
      <ion-input placeholder="Enter spending title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="basket" item-start></ion-icon>
      <ion-input placeholder="Enter money" item-end></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="calendar" item-start></ion-icon>
      <ion-input placeholder="Enter date" item-end></ion-input>
    </ion-item>
    <ion-item>
      <div>
        <label item-right >Share with:</label>
        <ion-icon name="contact" class="icon-profile"></ion-icon>
        <ion-icon name="contact" class="icon-profile"></ion-icon>
        <ion-icon name="contact" class="icon-profile"></ion-icon>
      </div>
    </ion-item>
    <ion-item>
      <div>
      <label item-right >Paid by:</label>
      <ion-icon name="contact" class="icon-profile"></ion-icon>
      <ion-icon name="contact" class="icon-profile"></ion-icon>
      <ion-icon name="contact" class="icon-profile"></ion-icon>
    </div>
    </ion-item>
    <button ion-button round>Confirm</button>
</ion-content>
