<ion-header>
  <ion-navbar>
    <ion-title>Add Spending</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item>
      <ion-input placeholder="Enter spending title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Enter money"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Enter date"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col width-50>
        <i class="material-icons">delete</i>
      </ion-col>
      <ion-col width-50>
        <i class="material-icons">delete</i>
      </ion-col>
    </ion-row>
</ion-content>
