<ion-header>
  <ion-navbar>
    <ion-title>Add Spending</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item>
      <ion-input placeholder="Enter spending title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Enter money"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Enter date"></ion-input>
    </ion-item>
    <ion-item>
      <p>
        <label item-right >Share with:</label>
        <ion-icon name="contact" class="icon-profile"></ion-icon>
        <ion-icon name="contact" class="icon-profile"></ion-icon>
        <ion-icon name="contact" class="icon-profile"></ion-icon>
      </p>
    </ion-item>
    <ion-item>
      <p>
      <label item-right >Paid by:</label>
      <ion-icon name="contact" class="icon-profile"></ion-icon>
      <ion-icon name="contact" class="icon-profile"></ion-icon>
      <ion-icon name="contact" class="icon-profile"></ion-icon>
      </p>
    </ion-item>
    <button ion-button round>Confirm</button>
</ion-content>
