<ion-header>
  <ion-navbar>
    <ion-title>Event Page</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      Oct 2, Mon
    </ion-list-header>
    <ion-item class="item">
      <span text-left>Terminator II</span>
      <span text-lg-right>The Empire</span>
    </ion-item>
    <ion-item>Blade Runner</ion-item>
    <ion-list-header>
      Sept 29, Fri
    </ion-list-header>
    <ion-item>Terminator II</ion-item>
    <ion-item>The Empire Strikes Back</ion-item>
    <ion-item>Blade Runner</ion-item>
  </ion-list>
</ion-content>
