<ion-header>
  <ion-navbar>
    <ion-title>Event Page</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-list-header>
      Oct 2, Mon
    </ion-list-header>
    <ion-item class="ion-item">
      <div text-left class="text-item">Gas</div>
      <div item-end class="text-item">$27.00</div>
    </ion-item>
    <ion-item class="ion-item">
      <div text-left class="text-item">Hostel</div>
      <div item-end class="text-item">$62.00</div>
    </ion-item>
    <ion-list-header>
      Sept 29, Fri
    </ion-list-header>
    <ion-item class="ion-item">
      <div text-left class="text-item">Food</div>
      <div item-end class="text-item">$15.00</div>
    </ion-item>
  </ion-list>
</ion-content>
