.icon-profile-event {
  font-size: 50px;
  padding-right: 15px;
}

.my-part {
  background-color: lightseagreen;
}

.total-event {
  background-color: lightgrey;
}

.text-total {
  font-size: 20px;
  font-weight: bold;
}
