<ion-header>
  <ion-navbar>
    <ion-title>
      Check out
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header class="total-due">
      Total due: $215.33
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      You will pay to:
    </ion-card-header>

    <ion-list>
      <button ion-item>
        <ion-icon name="contact" item-start></ion-icon>
        <label padding-right="10px" item-end>$26.03</label>
        <ion-icon name="arrow-round-forward" item-end></ion-icon>
        Name1
      </button>

      <button ion-item>
        <ion-icon name="contact" item-start></ion-icon>
        <label padding-right="10px" item-end>$85.63</label>
        <ion-icon name="arrow-round-forward" item-end></ion-icon>
        Name2
      </button>

      <button ion-item>
        <ion-icon name="contact" item-start></ion-icon>
        <label padding-right="10px" item-end>$59.07</label>
        <ion-icon name="arrow-round-forward" item-end></ion-icon>
        Name3
      </button>

      <button ion-item>
        <ion-icon name="contact" item-start></ion-icon>
        <label padding-right="10px" item-end>$25.15</label>
        <ion-icon name="arrow-round-forward" item-end></ion-icon>
        Name4
      </button>

      <button ion-item>
        <ion-icon name="contact" item-start></ion-icon>
        <label padding-right="10px" item-end>$15.65</label>
        <ion-icon name="arrow-round-forward" item-end></ion-icon>
        Name5
      </button>

      <button ion-item>
        <ion-icon name="contact" item-start></ion-icon>
        <label padding-right="10px" item-end>$3.80</label>
        <ion-icon name="arrow-round-forward" item-end></ion-icon>
        Name6
      </button>

    </ion-list>
  </ion-card>

  <div style="text-align:center;">
    <button ion-button round>Pay All</button>
  </div>

</ion-content>
